.am{
    background-color: aqua;
    box-shadow: 5px 5px 5px 0px;
    width: 15%;
    border: 2px solid papayawhip;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 43%;
    
}
.color{
    color: red;
    text-align: center;
    
}