.am{
    background-color: aqua;
    box-shadow: 5px 5px 5px 0px;
    width: 15%;
    border: 2px solid papayawhip;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 40%;
    padding: 0px 20px 0px 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.color{
    color: red;
    text-align: center;
    text-decoration: underline grey;
    
}
.eem{
    text-align: justify;
}
.header{
    text-align: center;
    color: blue;
}